<nav class="site-nav">
  <ul class="nav-list">
    {% for item in site.data.navigation %}
      <li class="nav-item {% if item.sublinks %}dropdown{% endif %}">
        <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
        {% if item.sublinks %}
          <ul class="dropdown-menu">
            {% for subitem in item.sublinks %}
              <li><a href="{{ subitem.url | relative_url }}">{{ subitem.title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
