body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  margin: 0;
  background-color: #fafafa;
  line-height: 1.6;
}

.site-header {
  background: #fff;
  border-bottom: 1px solid #eee;
  text-align: center;
  padding: 1em 0;
}

.site-header a {
  color: #333;
  text-decoration: none;
  margin: 0 1em;
  font-weight: 500;
}

.site-header a:hover {
  color: #007acc;
}

.content {
  max-width: 800px;
  margin: 2em auto;
  padding: 0 1em;
  background: white;
}

.footer {
  text-align: center;
  font-size: 0.9em;
  padding: 2em 0;
  background-color: #f2f2f2;
  border-top: 1px solid #ddd;
}

